[Unit]
Description=Running Jenkins Service
After=multi-user.target

[Service]
Type=idle
ExecStart=bash /usr/local/bin/jenkins_autostart.sh

[Install]
WantedBy=multi-user.target
