#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
#install using text
text
# Run the Setup Agent on first boot
firstboot --enable
# Keyboard layouts
keyboard us, ru
# System language
lang ru.UTF-8
#url for fedora install
url --install --mirrorlist="https://mirrors.fedoraproject.org/mirrorlist?
repo=fedora-26&arch=x86_64"
# list of repos including rpm fusion free, non-free and updates for both of these and 
# google chrome
repo --name="fedora" --install --baseurl=http://mirrorservice.org/sites/dl.fedoraproject.org/pub/fedora/linux/releases/26/Everything/x86_64/os/
repo --name="fedora-updates" --install --baseurl=http://mirrorservice.org/sites/dl.fedoraproject.org/pub/fedora/linux/updates/26/x86_64/
repo --name="rpmfusionfree" --install --mirrorlist=http://mirrors.rpmfusion.org/mirrorlist?repo=free-fedora-26&arch=x86_64
repo --name="rpmfusionfreeupdates" --install --mirrorlist=http://mirrors.rpmfusion.org/mirrorlist?repo=free-fedora-updates-released-26&arch=x86_64
repo --name="rpmfusion-nonfree" --install --mirrorlist=http://mirrors.rpmfusion.org/mirrorlist?repo=nonfree-fedora-26&arch=x86_64
repo --name="RPMFusion Non-Free - Updates" --install --baseurl=http://download1.rpmfusion.org/nonfree/fedora/updates/25/x86_64/
repo --name="google-chrome" --install --baseurl=http://dl.google.com/linux/chrome/rpm/stable/x86_64
# Network information
network  --bootproto=dhcp --device=link --activate
network  --bootproto=dhcp --hostname=fedora
# Root password
rootpw qwertynbvcxz
# System timezone -- use your own zone
timezone Russia/Samara
user --name=maxrom --password=qwertynbvcxz --gecos="maxrom"
# X Window System configuration information
xconfig  --startxonboot
# System bootloader configuration for mbr system
bootloader --location=mbr 
# Partition clearing information
clearpart --all
# Disk partitioning information
## make partitions of certian size
part /boot --size=512 --asprimary --ondrive=sda --fstype=xfs
part swap --size=10240 --ondrive=sda
part / --size=8192 --grow --asprimary --ondrive=sda --fstype=xfs

%packages
@admin-tools
@anaconda-tools
@base-x
@core
@x11
@legacy-x
@fonts
@guest-desktop-agents
@hardware-support
@input-methods
@dial-up
@graphics
@libreoffice
@multimedia
@networkmanager-submodules
@printing
@standard
@xfce-apps
@xfce-desktop
@xfce-extra-plugins
@xfce-media
@xfce-office
NetworkManager-wifi.x86_64
NetworkManager.x86_64
aajohan-comfortaa-fonts
akmod-wl.x86_64
anaconda
chrony
dracut-live
ffmpeg.x86_64
firefox
gcc.x86_64
gedit.x86_64
generic-logos
generic-release
generic-release-notes
glibc-all-langpacks
gnome-keyring-pam
google-chrome-stable.x86_64
gparted
grub2-efi
k3b.x86_64
kernel
kernel-devel.x86_64
kernel-headers.x86_64
kernel-modules
kernel-modules-extra
lorax.x86_64
memtest86+
rfkill
sane-backends-drivers-scanners.x86_64
syslinux
system-config-printer
tar
vlc.x86_64
wget
xsane
xscreensaver-extras
ImageMagick.x86_64
lorax.x86_64 
mock.noarch
-PackageKit*
-abiword
-acpid
-aspell-*
-autofs
-coolkey
desktop-backgrounds-basic
-fedora-logos
-fedora-release
-fedora-release-notes
-gimp-help
-hplip
-isdn4k-utils
-midori
-mpage
-numactl
-xfce4-sensors-plugin
-xsane-gimp

%end
