[Unit]
Description=Starting Jenkins
Requires=docker.service
After=docker.service

[Service]
Type=simple
ExecStart=/bin/bash /usr/bin/jenkins_autostart.sh

[Install]
WantedBy=multi-user.target
